


input{
    background-color: black;
    font-size: 30px;
    width: 100px;
    color: rgb(255, 255, 255);
    border-radius: 12px;
}

body *{ 
    float: left;
    display: table-cell;
}

#a, button{
    font-size: 30px;
    background-color: rgb(0, 26, 255);
    color: white;
}

*{
    margin: 3px;
}